doctype 5
html(lang="en")
    head
        title Check out the drop
        link(href="/stylesheets/style.css", rel="stylesheet")
        link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="blue")
body
    header
        .inset
        .ribbon_container
            .ribbon_base
                img(src="/images/logo.png")

    section
        .container
            .col-md-6
                .form-temp
                    h3 submit your drop
                
            .col-md-6
                .insta-temp
                    <iframe width='280' height='400' src='http://statigr.am/widget.php?choice=myfeed&username=check_out_the_drop&show_infos=false&linking=instagram&width=280&height=400&mode=slideshow&photo_border=false&pace=5&background=FFFFFF&text=3B3B3B&widget_border=false&radius=5&border-color=DDDDDD&user_id=797145950&time=1391188300556' allowTransparency='true' frameborder='0' scrolling='no' style='border:none; overflow:hidden; width:280px; height:400px;'></iframe>

    footer
        p Prowdly developed by <a href="http://twitter.com/frankpoulin>"> @frankpoulin</a> and supportted by <a href="http://soundcloud.com/angelzofficial">ANGELZ</a>

