doctype 5
html(lang="en")
    head
        title Check out the drop
        link(href="/stylesheets/style.css", rel="stylesheet")
        link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="blue")
body
    .alert.fade(flash-alert active-class="in")
        strong.alert-heading Ahhh
        span.alert-message {{flash.message}}
    header
        .ribbon
            .inset
            .ribbon_container
                .ribbon_base
                    img(src="/images/logo.png")
        .container
            .row.caption_container
                h3 listen, get inspired
                h3 produce, inspire others
        .scroll(scroll-on-click scroll-to-id="#formSection")

    section(id="formSection" ng-controller="HomeController")
        .container
            .col-md-6
                .form
                    h2 Submit your drop
                    form.soundcloud_form(name="drop_form" ng-submit="createDrop(newDrop)" novalidate)
                        .form-group
                            label Soundcloud url
                            input.form-control(type="url" ng-model="newDrop.soundcloudUrl" placeholder="https://soundcloud.com/angelzofficial/paradise-angels-in-the-air" ng-pattern="soundcloudREGEX" required)
                        .form-group
                            label Drop time
                            input.form-control(placeholder="0:55" ng-model="newDrop.dropTime" required ng-pattern="timeREGEX")
                        .form-group
                            label Email
                            input.form-control(type="Email" placeholder="superDJ@gmail.com" ng-model="newDrop.requesterEmail" required)
                        .radio
                            label I'm an edm fan!
                                input(type="radio", name="requesterType", value="edmFan" ng-model="newDrop.requesterType" required)
                        .radio
                            label I'm a DJ / Producer
                                input(type="radio", name="requesterType", value="dj" ng-model="newDrop.requesterType")
                        button.btn.btn-default.btn-lg(type="submit" ng-disabled="drop_form.$invalid") Submit

            .col-md-6
                .insta
                    <iframe width='380' height='501' src='http://statigr.am/widget.php?choice=myfeed&username=check_out_the_drop&show_infos=false&linking=instagram&width=380&height=501&mode=slideshow&photo_border=true&pace=5&background=FFFFFF&text=777777&widget_border=true&radius=5&border-color=DDDDDD&user_id=797145950&time=1391544744323' allowTransparency='true' frameborder='0' scrolling='no' style='border:none; overflow:hidden; width:380px; height:501px;'></iframe>

    footer
        p Developped by <a href="https://github.com/EFF">@EFF</a> and supported by <a href="http://soundcloud.com/angelzofficial">ANGELZ</a>

script(src="/lib/angular/angular.min.js")
script(src="/lib/angular-resource/angular-resource.min.js")
script(src="/lib/angular-flash/dist/angular-flash.min.js")
script(src="/lib/jquery/jquery.min.js")
if locals.nodeEnv
    script(src="/script/app.min.js")
else
    script(src="/javascripts/app.js")
script
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48308058-1', 'checkoutthedrop.com');
  ga('send', 'pageview');
