doctype 5
html(lang="en")
    head
        title Check out the drop
        link(href="/stylesheets/style.css", rel="stylesheet")
        link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="blue")
body
    .container
        h1 Check OUT THE DROP MY NIGGA
